.ant-breadcrumb {
    ol {
        li {
            .ant-breadcrumb-link {
                padding: 0.25rem 0.5rem;
                font-size: 1rem;
                font-weight: 500;

                a {
                    &:hover {
                        background-color: unset;
                    }
                }
            }
        }

        .ant-breadcrumb-separator {
            margin-inline: 0 !important;
        }
    }
}
