.form-item {
    
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .ant-form-item-control-input {
      border-radius: 4px;
      overflow: hidden; // Ensure inner fields conform to the border radius
    }
}